<div id="<%= dom_id customer %>">
  <div>
    <strong>Name:</strong>
    <%= customer.name %>
  </div>

  <div>
    <strong>Furigana:</strong>
    <%= customer.furigana %>
  </div>

  <div>
    <strong>Birth date:</strong>
    <%= customer.birth_date %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= customer.status %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= customer.product %>
  </div>

</div>
